/* global style sheet */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.main-logo{

}
.brand-logo img {
    width: 100%;
    max-width: 120px;
    margin-top: 5px;
}
.side-nav{
    width: 70% !important;
}
.nav-top{margin-top: 100px;}

nav .nav-wrapper{
    
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 4.6rem !important;
    line-height: 69px !important;
    
}
.transparent-nav{
    background: transparent !important;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
nav.nav-bar ul a{
    color: #2f3293;
}
nav.transparent-nav ul a{
    color: #393cad;
    line-height: 8rem;
}
nav.transparent-nav ul a:hover{
    color:#fff;
    background: transparent !important;
}
nav.nav-bar {
    background: #fff;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
nav.nav-bar ul a:hover {
    color: #fff;
    background: #2f3293;
}

nav .button-collapse{
    color: #2f3293;
}

.card-panel{
   /* min-height: 450px;*/
}
.btn:hover{
    opacity: 0.7 !important;
}
.map{
     border:0;width: 100%;height: 100%;min-height: 500px;
}
@media(max-width: 768px){
    .map{
        min-height: 300px !important;
    }
    .card-panel{
        min-height: 300px;
    }   
}

/********************************
        Form Validation
*********************************/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{

    border-bottom: 1px solid #2f3293;
    -webkit-box-shadow: 0 1px 0 0 #2f3293;
    box-shadow: 0 1px 0 0 #2f3293;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label
{
    color: #2f3293;
}
/**========================
    Content Title
==========================*/

.c-title{
    text-align: center;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 25px;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
}
.c-paragraph{
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.abt-box{
    padding: 25px;
    text-align: center;
}
.abt-box h4{
    font-size: 22px;
    padding: 10px 0px;
}

/**============================
        Padding Property
=============================*/
.pad-20{
    padding: 20px 0px;
}


/**=============================
        Offer Page
===============================*/
.offering-image{
    width: 120px;
    background-color: #000;
    border-radius: 100%;
}

.offer-box{
    padding: 25px 0px;
    text-align: center;
}

.offer-box h4{
    font-size: 14px;
    padding: 10px 0px;
}

.offer-card-panel{
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: transparent;
}


/**==========================
        Team page Start
============================*/
.team-content-box p{text-align: justify;}
/*.team-content-box{
    padding: 10px !important;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team-content-box:hover{
box-shadow: inset 0px 1px 20px #ddd;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
*/
.img-box{
    max-width: 300px !important;
}
/**=============================
        Footer Start
===============================*/

footer.page-footer {
    background: #393cad;
    position: relative;
}
.footer-text{
    color: #000;
}
.footer-link a{
    color: rgba(255,255,255,0.9);
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.footer-link a:hover{
    color: #ddd;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
    margin-left: 5px;
}
a.footer-link-right.right {
    font-size: 13px;
    margin: 0px 10px;
    color: #a0a0a0;
    /* text-transform: uppercase; */
}

a.footer-link-right:hover {
    color: #fff;
}
a.copyright-site-link {
    color: #fff;
}

.footer-copyright .container span {
    color: #ababab;
}

.footer-title {
    text-transform: uppercase;
    font-size: 18px;
}

i.social-connect {
    font-size: 35px !important;
    margin: 0px 10px;
    color: #7d7d7d;
}

i.social-connect.connect-facebook:hover {
    color: #3b5998;
}

i.social-connect.connect-linkedin:hover {
    color: #283e4a;
}

.partner-logo .card-panel {
    max-width: 200px;
    height: 200px;
    padding: 10px !important;
}

.partner-logo .card-panel img {
    width: 100%;
}

.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #2f3293 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.section-title.grey-text.text-darken-4.flow-text{
    color: #2f3293 !important;
}
.parallax-container{
    height: auto;
    background: rgba(0,0,0,0.7);
    padding-bottom: 50px;
    margin-top: 50px;
}

.card-panel.right {
    margin-right: 20px;
}

.card-panel.left {
    margin-left: 20px;
}
.col-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #757575;
}

.card-panel.black {
    color: #fff;
    margin-bottom: 30px;
}

.card-title {
    text-align: center;
    font-size: 54px;
    text-transform: uppercase;
    color: #ccc;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover .card-title{
    color: #feec00;
}

.card-content {
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.card-panel.black {
    height: 180px;
}


.background-image {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background-image img {
    height: 180px;
    /* border-radius: 0px; */
}

.card-panel.black {
    position: relative;
    overflow: hidden;
}

.card-panel.black {
    background: rgba(0,0,0,0.9) !important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover {
    background: rgba(0,0,0,0.8) !important;
    cursor: pointer;
}
img.full-width {
    width: 100%;
    height: auto !important;
}
ul#nav-mobile {
    z-index: 100;
}
#sidenav-overlay{
    z-index: 99 !important;
}

ul#nav-mobile li a {
    color: #2f3293;
    border-bottom: 1px solid #dcdcdc;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.transparent-nav ul a:hover {
    color: #000;
    background:linear-gradient(rgba(255,255,255,0.9),rgba(200,200,200,0.1)) !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.dropdown-content li a {
    background: #dedede !important;
    color: #5a5a5a !important;
    border-bottom: 1px solid #ccc;
}



/**==================================
        About Page
===================================**/
.about-section p{
    font-size: 16px;
    text-align: justify;
}
.h5{
    font-size: 1rem;
    font-weight: 500;
    color: #2f3293;
}

/**==================================
        The Begining Page
===================================**/
p.b-title{
    text-align: center;
    margin: 20px 0px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

/**==================================
        The Begining Page
===================================**/
.li li{
    color: #2f3293;
}

/**==================================
        Footer Site Map
===================================**/
marquee{
    max-height: 150px;
    margin-top: 15px;
}
@media(max-width: 768px){
    marquee{
    max-height: 250px !important;
    }
}
marquee p{
    color: #333333;
    text-align: center !important;
}


.ftr-sitemap{
    line-height: 5rem;
    background: #2f3194;
}
.ftr-sitemap a{
    color: #ddd !important;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.ftr-sitemap a:hover{
    color: #fff !important;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

/**================================================================================================
             Mobile Responsive Media queries
===================================================================================================*/
@media only screen and (max-width: 992px){
    .nav .brand-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center !important;
    }
} 



/* home page */
.section-content p {
    color: #5a5a5a;
    font-size: 16px;
}

.home-cards .card-panel .section-content {
    display: none;
}

.home-cards .card-panel {
    min-height: 135px;
    position: relative;
}

.home-cards .card-panel .section-title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.card-panel:hover .section-content {
    display: block;
}

.home-cards .card-panel:hover .section-content {
    display: block;
}
.home-cards .card-panel:hover{
    background: #2f3293;
}

.home-cards .card-panel:hover .section-content p{
    color:#fff;
}
.home-cards .card-panel:hover .section-title{
    display: none;
}
.section-container.home-cards {
    min-height: 200px;
}
.full-width-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.footer-background-image {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

footer.page-footer{
    background: rgba(0,0,0,0.9);
    position: relative;
    overflow: hidden;
}

.ftr-sitemap.row {
    background: rgba(0,0,0,0.5);
}

nav.nav-bar {
    background: transparent;
    box-shadow: none;
}

nav.nav-bar ul a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.opaque-grey ul a{
    line-height: 8rem;

}
nav.opaque-grey{
    background: rgba(0,0,0,0.7);
}
nav{
    height: auto !important;
}
nav.opaque-grey ul a{
    line-height: 6rem !important;
}
nav.opaque-grey .brand-logo img{
    width: 6rem;
}
nav .brand-logo img{
    width: 8rem;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav ul a:hover{
    background: transparent !important;
    color:#ec696b !important;
}
nav.transparent-nav ul a:hover{
    background: transparent !important;
    color:#ec696b !important;
}


.section-sub-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color:#4c4c4c;
}
.section-sub-title span{
    color:#ec696b;
}
.section-container {
    width: 90%;
    display: block;
    margin: 0 auto;
}
